[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dirmcmc"]
	path = dirmcmc
	url = https://github.com/cran/dirmcmc
	shallow = true
	registered = true
[submodule "dnr"]
	path = dnr
	url = https://github.com/cran/dnr
	shallow = true
	registered = true
[submodule "mhtboot"]
	path = mhtboot
	url = https://github.com/cran/mhtboot
	shallow = true
	registered = true
