[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dirmcmc"]
	path = dirmcmc
	url = https://github.com/cran/dirmcmc
[submodule "dnr"]
	path = dnr
	url = https://github.com/cran/dnr
[submodule "mhtboot"]
	path = mhtboot
	url = https://github.com/cran/mhtboot
